{% extends "base_layout.html" %}

{% block title %}Seller SignUp{% endblock title %}

{% block main_content %}

<!-- Content Section -->
<section class="content-section m-3" >
    <h1 class="text text-center">Seller Singup</h1>
    <form class="row g-3" method="post" id="iform" >
        {% csrf_token %}

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </d>
        <div class="mb-3">
            <label for="state" class="form-label">State</label>
            <input type="text" class="form-control" id="state" name="state">
        </div>
        <div class="mb-3">
            <label for="pin" class="form-label">Pin</label>
            <input type="text" class="form-control" id="pin" name="pin">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
         

        <div class="col-12" align='center'>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>

{% endblock main_content %}

{% block script %}
<script >
    jQuery('#iform').validate({
    rules:{
        name:"required",
        address:"required",
        pin:"required",
        username:"required",
        password:"required",
        },
   messages:{
    name:"Please enter Name",
    address:"Please enter Address",
    pin:"Please enter Pin",
      username:"Please enter Username", 
      password:  "Please enter Name",
      
      },
});
   </script> 
{% endblock script %}